<% include partials/header %>

<br>
<h1 style="text-align: center">Login</h1>
<form class="ui form" action="/login" method="POST">    
    <div class="field">
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password">
    </div>

    <div class="field">
        
    </div>    
    <button class="ui button" type="submit">Submit</button>
</form>

<% include partials/footer %>